//variables
//Primer Paleta
$colorfondo1: #948ee7 ;
$colorfondo2: #515a95;
$colorazulintenso: #000013; 
$colorazulinter: #1f2d4e; 
$colorlila: #e9c7ff; 

//Segunda Paleta
$colormarino: #121a33; 
$colormarinosuave: #343d62;
$colorlilainter: #73689b; 
$colorsection: #bf92e0;
$colorsection2: #f8beed;
